body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  height: 100%;
}

.welcome {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #fff;
}

.welcome .action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.evil {
  width: 80px;
  animation: float 2s ease-in-out infinite;
}

.good {
  width: 80px;
  animation: float 3s ease-in-out infinite;
}

.start {
  padding: 2rem;
  background-color: orangered;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.start:hover,
.start:focus-visible {
  background-color: red;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.playground-container {
  display: grid;
  grid-template-rows: 1fr 15fr;
  height: 100%;
}

.score-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-radius: 20px;
  color: #fff;
  flex: 1;
}

.ground {
  position: relative;
  padding: 20px;
}

.game-over {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  height: 100%;
  background-color: orange;
  color: #fff;
  border-radius: 10px;
}

.game-over .title {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 5rem;
}

.game-over button {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
}

.d-none {
  display: none;
}
